body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 90px;
  color: #66BFBF;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
  font-weight: normal;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

a {
  color: #11999E;
}

hr {
  margin: 150px auto;
  border-style: dotted;
  border-width: 10px 0 0 0;
  color: grey;
  width: 80px;
}

.top-container {
  position: relative;
  background-color: #e4f9f5;
  padding-top: 100px;
  line-height: 2;
}

.middle-container {
  margin: 50px;
}

.bottom-container {
  margin: 0;
  background-color: #66BFBF;
  padding: 15px;
}
.mountain {
  position: relative;
  bottom: -10px;
}
.linux {
  border-radius: 100%;
  width: 150px;
  height: 150px;
}

.img1 {
  border-radius: 100%;
  width: 25%;
  height: 25%;
  float: left;
  margin-right: 30px;
}
.img2 {
  border-radius: 100%;
  width: 25%;
  height: 25%;
  float: right;
  margin-left: 30px;
}

.top-cloud {
  position: absolute;
  top: 50px;
  right: 300px;
}

.bottom-cloud {
  position: absolute;
  bottom: 300px;
  left: 300px;
}

.spanclass {
  text-decoration: underline;
}

.skill-row {
  width: 50%;
  margin: 100px auto;
  text-align: left;
  line-height: 2;
}

.desc {
  color: #40514E;
}

.copyright {
  color: #EAF6F6;
  font-family: 'Merriweather', serif;
  margin: 20px auto 0 auto;
}

.footer-link {
  color: #11999E;
  text-decoration: none;
  margin: 0 10px;
  font-family: 'Montserrat', sans-serif;
}

.contact-me {
  line-height: 3;
}

.butn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Montserrat;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.butn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
